<div class="row">

  <div class="col-md-6 reachSearch">

    <form onsubmit={{action 'preventSubmit'}}>
       <div class="form-group">
        {{input
          value=search
          class='form-control'
          placeholder='search by river or reach name'
          autofocus=true
        }}
      </div>
    </form>

    {{#if model}}

      <div class="reachSearchResults">
        <table class="table">
          <tbody>
          {{#each modelSorted as |reach|}}
            <tr>
              <td>
                {{#link-to 'reach' reach.id}}
                  {{reach.riverName}} - {{reach.name}}
                  {{#if reach.riverAlternateName}}
                    ({{reach.riverAlternateName}})
                  {{/if}}
                  ({{reach.difficulty}})
                {{/link-to}}
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      </div>


    {{else}}
      <p>
        Start by searching for a river or reach by name. While the words have to be
        exact matches, the order of the words does not matter.
      </p>
      <p>
        Further, it will try to match with as few as four characters, so sometimes
        less can be more.
      </p>
      <p>
        Once you have a list to choose from, you can refine your results using the
        map. More details on each reach are available by clicking on any result
        in the list.
      </p>
    {{/if}}

  </div>

  <div class="col-md-6">
    {{reach-map-view}}
  </div>

</div>

{{outlet}}
