<div class="row">

  <div class="col-md-6">

    <form onsubmit={{action 'preventSubmit'}}>
       <div class="form-group">
        {{input
          value=search
          class='form-control'
          placeholder='search by river or reach name'
          autofocus=true
        }}
      </div>
    </form>

    {{#if model}}
    <table class="table">
      <tbody>
      {{#each model as |reach|}}
        <tr>
          <td>
            {{#link-to 'reach' reach.id}}
            {{reach.riverName}} - {{reach.name}}
            {{#if reach.riverAlternateName}}
              ({{reach.riverAlternateName}})
            {{/if}}
            ({{reach.difficulty}})
            {{/link-to}}
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>

    {{else}}
    <p>Instructions for use.</p>
    {{/if}}

  </div>

</div>

{{outlet}}
