<form onsubmit={{action 'preventSubmit'}}>
   <div class="form-group">
    {{input
      value=search
      class='form-control'
      placeholder='search by river or reach name'
      autofocus=true
    }}
  </div>
</form>

<table class="table">
  <tbody>
  {{#each model as |reach|}}
    <tr>
      <td>
        {{#link-to 'reach' reach.id}}
        {{reach.riverName}} - {{reach.name}}
        {{#if model.riverAlternateName}}
          ({{model.riverAlternateName}})
        {{/if}}
        {{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>


{{outlet}}
